name: pals

on:
  push:
    branches:
      - "main"
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.head_ref }}-pals-python
  cancel-in-progress: true

permissions:
  contents: read  # access to check out code and install dependencies

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install ".[test]"
      - name: Test
        run: |
          pytest tests -v
      - name: Examples
        run: |
          python examples/fodo.py
