name: tests

on:
  push:
    branches:
      - "main"
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.head_ref }}-unit-tests
  cancel-in-progress: true

jobs:
  unit-tests:
    name: unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install ".[test]"
      - name: Run unit tests
        run: |
          pytest tests -v
